@import url("https://fonts.googleapis.com/css?family=Playfair+Display:900|Raleway:500,700");

html, body {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    background-color: #020014;
    color: #ffffff;
}

body {
    background-image: url("../img/haikyubg.png");
    background-size: 245px 380px;
    background-position: right top;
    background-repeat: repeat-y;
}

h1 {
    font-family: "Playfair Display", serif;
    padding: 10px 20px;
    margin: 0;
    color: #FF7300;
}

h2 {
    font-weight: 700;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 20px;
    margin: 0;
}

p {
    padding: 6px 20px;
    margin: 0;
}

nav {
    padding: 10px;
    background-color: #1F1F3A !important;
}

nav a {
    text-transform: uppercase;
    padding: 0.5em 1em;
    color: #FF7300 !important;
    font-weight: 600;
    text-decoration: none;
}

nav a:hover {
    color: #ffffff !important;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #1F1F3A !important;
    border: 2px solid #FF7300;
}

th {
    text-transform: uppercase;
    text-align: left;
    padding: 10px;
    background-color: #FF7300 !important;
    color: #020014 !important;
}

td {
    padding: 10px;
    border-bottom: 1px solid #FF7300;
    color: #ffffff !important;
    background-color: #2A2A4D !important;
}

.button {
    background-color: #FF7300;
    color: #020014;
    border-radius: 300px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
}

.button:hover {
    background-color: #FCBA63;
}

footer {
    background-color: #1F1F3A !important;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    color: #FF7300;
    text-align: center;
}

.tagline {
    text-align: center;
    font-size: 14px;
    color: #FF7300;
}

footer .footer-title {
    text-align: center;
    font-size: 14px;
    color: #FF7300;
}

footer .footer-copy {
    text-align: center;
    font-size: 12px;
    color: #ffffff;
}

header hr {
    border-color: #FF7300;
}

.order-box {
    background-color: #2A2A4D;
    margin: 10px 20px;
    padding: 10px;
    border: 1px solid #FF7300;
    border-radius: 10px;
}
